{% extends 'navbar.html' %}
{% block head%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
{% endblock %}
{% block body%}
    <!--
    <div id="items">
        <p id="mess"></p>
        <input type="text" id="input">
        <button id="send">Send</button>
    </div>
    <button class="room">Vanila</button>
    <button class="room">Chocolate</button>
    -->
<div class="modal fade" id="modalAddRoom" tabindex="-1" role="dialog" aria-labelledby="new-room-aria" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add room</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <label data-error="wrong" data-success="right" >Room name</label>
          <input class="form-control" id="new-room-input">
        </div>
        <div class="md-form mb-4">
          <label data-error="wrong" data-success="right">Your password</label>
          <input type="password" id="room-password" class="form-control">  
          <input type="checkbox" class="form-check-input" id="room-password-check" checked>
          <label class="form-check-label">With password</label>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default" id="new-room">Create</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="password-validation" tabindex="-1" role="dialog" aria-labelledby="room-password-val-aria" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Enter the room password</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <label data-error="wrong" data-success="right">Room password</label>
          <input class="form-control" id="room-password-val">
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default" id="room-password-btn">Enter</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalAddFriend" tabindex="-1" role="dialog" aria-labelledby="add-friend-val-aria" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add a friend</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <label data-error="wrong" data-success="right">the Friend's username (Watch for caps.)</label>
          <input class="form-control" id="friend-username-val">
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default" id="friend-btn">Enter</button>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
    <div class="card purple lighten-4 chat-room">
        <div class="card-body">
          <div class="row px-2">
            <div class="col-md-6 col-xl-8 pr-md-4 px-lg-auto px-0">
              <div class="typing">Typing: </div>
              <div class="chat-message">
                
                <ul class="list-unstyled chat">
                    <div id="messages">
                    </div>
                    <br>
                  <li class="white">
                    <div class="form-group basic-textarea">
                      <textarea type="text" name="input" dir="auto" class="form-control pl-2 my-0" id="input" placeholder="Type your message here..."></textarea>
                    </div>
                  </li>
                  <button type="button" class="btn btn-deep-purple btn-rounded btn-sm waves-effect waves-light float-right" id="send">Send</button>
                </ul>
      
              </div>
      
            </div>
            <div class="col-md-6 col-xl-4 px-0">
      
              <h6 class="font-weight-bold mb-3 text-center text-lg-left">Friends(GMT time)</h6>
              <div class="white z-depth-1 px-3 pt-3 pb-0 friend-div">
                <ul class="list-unstyled friend-list">
                  {% for i in range(user_friends|length) %}
                  <div id="friend-{{user_friends[i]}}">
                    <li class="p-2">
                      <a class="d-flex justify-content-between">
                        <div class="text-small">
                          {% if  user_friends[i] not in online_users %}
                            <i class="fa fa-circle user-status" aria-hidden="true" style="color:gray"></i>
                          {%else%}
                            <i class="fa fa-circle user-status" aria-hidden="true" style="color:green"></i>
                          {%endif%}
                          <button type="button" class="btn btn-primary friend-username">{{user_friends[i]}}</button>
                          <p class="last-message text-muted">{{last_message[i]}}</p>
                        </div>
                        <div class="chat-footer">
                          {% if last_message_time_with_friends[i] is defined %} <!--could be a server msg-->
                            <p class="text-smaller text-muted mb-0 date">⠀{{last_message_time_with_friends[i]}}</p> <!--should be the same length-->
                          {% endif %}
                          <span class="text-muted float-right"><i class="fas fa-mail-reply" aria-hidden="true"></i></span>
                        </div>
                      </a>
                    </li>
                  </div>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
<script>
  $(document).ready(function(){
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": true,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "6500",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }
    var room = "Main"
    var typing = false;
    /*
    if(location.port == ""){
        location.port = "80"
    }
    */
    if (location.protocol !== "http:") {
      location.protocol = "http:";
    }
    var socket = io("http://" + document.domain + ":" + location.port);
    socket.on('connect', function() {
        socket.send("Connected!")
        socket.emit("join", {"room" : "Main"})
    });
    socket.on('disconnect', function(){
        stoppedTyping();
        socket.emit("disconnect")
    });
    socket.on("message", function(obj){ // add connected handler
        if(obj["server"] != "yes"){
        msg = addNewlines(obj["msg"])
        username = obj["user"]
        }
        else{
            msg = addNewlines(obj["msg"]) // not really needed but it's fine
            username = "Server"
        }
        var entites = "";
        $(entites).html(msg)
        var create_msg = `<li class="d-flex justify-content-between mb-4">
                        <div class="chat-body white p-3 ml-2 z-depth-1">
                            <div class="header">
                                <strong class="primary-font">`+ username +`</strong>
                                <small class="pull-right text-muted"><i class="far fa-clock"></i>` + obj["time"] + `</small>
                            </div>
                            <hr class="w-100">
                            <p id="new-msg">` + 
                                msg
                                +
                                `
                            </p>
                        </div>
                    </li>`
        $("#messages").append(create_msg)
    });
    socket.on("room-add", function(data){
        if(data["msg"] == "an unexpected error has occurred, please choose a different password"){
        toastr["error"](data["msg"], "error")
        }
        else if(data["msg"] == "Room already exists"){
        toastr["error"]("it seems like the room already exists", "Can't create the room")
        }
        else{
        if(data["password"] == ""){
            data["room"] = htmlEntities(data["room"])
            $(".public-dropdown").append('<a class="dropdown-item this-is-navbar room">' +data["room"] + '</a>')
            $(".all-rooms-dropdown").append('<a class="dropdown-item this-is-navbar room">' +data["room"] + '</a>')
        }
        else{
            $(".private-dropdown").append('<a class="dropdown-item this-is-navbar room">' +data["room"] + '</a>')
            $(".all-rooms-dropdown").append('<a class="dropdown-item this-is-navbar room">' +data["room"] + '</a>')
        }
        toastr["success"]("Your room has successfully created", "Room created")
        new_room = data["room"]
        toastr["success"]("You have joined" + new_room, "Room created")
        $(document).ready(function(){
            socket.emit('leave', {"room" : room})
            socket.emit("join", {"room" : new_room})
            stoppedTyping();
        });
        room = new_room
        $("#modalAddRoom .close").click()
        $("#messages").html("");
        }
    });
    $("#input").keydown(function(e){
      if (e.keyCode == 13 && !e.shiftKey)
      {
        e.preventDefault();
        sendMessage()
        $("#input").val("")
        stoppedTyping();
      }
    });
    $("#send").click(function(){
        sendMessage()
        $("#input").val("")
        stoppedTyping();
    });
    var new_room = ""
    var room_pass = "" // randomize 
    $(".dropdown-menu").on('click', '.room', function(event){ // I have to use the .on method because .click doesn't work when data is appended
        new_room = $(event.target).text() // check if it exists in the database
        event.preventDefault();
        if(room == new_room){
            toastr["error"]("You are already in the room", "Can't join the room")
        }
        else{
            $.ajax({
            type: "POST",
            url: "/validate",
            data: new_room,
            success: function(pass){
                room_pass = pass; // pass is the room password
                if(pass != "False"){ 
                    $("#password-validation").modal("toggle");
                }
                else{
                $("#messages").html("");
                socket.emit('leave', {"room" : room})
                socket.emit("join", {"room" : new_room})
                stoppedTyping();
                var room_msg = "You have joined " + new_room
                toastr["success"](room_msg, "Room joined")
                room = new_room
                }
            }
            });
        }
    });
    
    $("#room-password-btn").click(function(){
        user_password = $("#room-password-val").val()
        if(user_password == room_pass){
        $("#messages").html("");
        $("#password-validation .close").click()
        toastr["success"]("Entering you into the room!", "Corrent password")
        socket.emit('leave', {"room" : room})
        socket.emit("join", {"room" : new_room})
        stoppedTyping();
        room = new_room
        }
        else{
        toastr["error"]("Sorry, you have entered the wrong password. Try again.", "Wrong password")
        }
    });
    
    $('#password-validation').on('shown.bs.modal', function () {
        $('#room-password-val').trigger('focus');
    });
    
    $("#new-room").click(function(){
        var created_room = $("#new-room-input").val();
        $("#new-room-input").val("");
        if($('#room-password-check').is(':checked')){
        password = $("#room-password").val()
        created_room = htmlEntities(created_room);
        } 
        else{
        password = ""
        }
        socket.emit('room-add', {"name" : created_room, "room password" : password})
        /*
        socket.emit('leave', {"room" : room})
        socket.emit("join", {"room" : created_room})
        var room_msg = "You have joined " + created_room
        toastr["success"](room_msg, "Room joined")
        */
    });
    $("#modalAddFriend").on('shown.bs.modal', function () {
        $('#friend-username-val').trigger('focus');
    });
    $("#friend-btn").click(function(){
        var input_username = $("#friend-username-val").val()
        socket.emit("friend-add", {"username" : input_username})
    });
    socket.on("friend-add", function(data){
        if(data["friend"] != undefined){
          console.log(data)
          msg = data["msg"] // if it sent the notification
          friend_username = data["friend"]
          console.log(friend_username)
          socket.emit("send-notificaton-live", {"sender" : "{{username}}", "receiver" : friend_username})
          toastr["success"]("The friend request sent successfully!", data)
        }
        else{
          toastr["error"](data, data)
        }
    });
      var $dropDownItems = $('.notifi-drop').children();
      $dropDownItems.on('click', function() {
        if(this.textContent == "Reject"){
        var index = $dropDownItems.index(this) - 1
        var text = $dropDownItems.eq(index).text()
        for(var i = $dropDownItems.index(this) - 1; i <= $dropDownItems.index(this)+3; i++){
            $dropDownItems.eq(i).remove()
        }
        socket.emit("friend-request-handler", {"type" : "Reject", "notification" : text})
        }
        else if(this.textContent == "Accept"){
        var index = $dropDownItems.index(this) - 3
        var text = $dropDownItems.eq(index).text()
        for(var i = $dropDownItems.index(this) - 3; i <= $dropDownItems.index(this)+ 1; i++){
            $dropDownItems.eq(i).remove()
        }
        socket.emit("friend-request-handler", {"type" : "Accept", "notification" : text})
        }
    });
    socket.on("friend-request-handler", function(data){
        msg = data["msg"]
        if(msg != "Error"){
        notification = data["notification"]
        var notifi_length = $("#notification-length").text()
        $("#notification-length").text(notifi_length - 1)
        if(data["type"] == "Accept"){ // could be if it's undefined I guess
        socket.emit("add-friend-requester-live", {"accepted from" : "{{username}}", "requester" : data["name"]})
        addFriendToList(data["name"], data["user status"])
        }
        toastr["success"](msg, msg)
        }
        else{
        toastr["error"]("There was a problem. Please try again.", msg)
        }
    });
    $(".friend-div").on('click', '.friend-username' , function(){
        var friend = $(this).text()
        entered_room = room;
        socket.emit("friends-dm", friend)
        socket.emit("dm-history", friend)
        socket.on("dm-history", function(data){
        if(data == "the dm was not found in the db"){
        toastr["error"](data,data)
        }
        else{
        var sent_user = data["user"] // array
        var user_msg = data["msg"] // array same length
        var msg_time = data["time"] // array same length
        if(entered_room != room){
            $("#messages").html("")
            for(var i = 0; i<user_msg.length; i++){
            $("#messages").append(`
            <li class="d-flex justify-content-between mb-4">
                <div class="chat-body white p-3 ml-2 z-depth-1">
                <div class="header">
                    <strong class="primary-font">` + sent_user[i] +`</strong>
                    <small class="pull-right text-muted"><i class="far fa-clock"></i>` + msg_time[i] + `</small>
                </div>
                    <hr class="w-100">
                    <p>`
                    + user_msg[i] +
                    `</p>
                </div>
            </li>
            `)
            }
            $('.friend-name > #' + data["friend"]).html(user_msg[user_msg.length - 1]);
        }
        }
        });
    });
    socket.on("friends-dm", function(data){
        if(room == data){
        toastr["error"]("You are already in this dm", "You are already in this dm")
        }
        else if(data=="Friend not found"){
        toastr["error"]("Make sure you are not logged in to 2 diffrent users/this is your actual friend", "An unexpected error")
        }
        else{
        $("#messages").html("");
        toastr["success"]("Going to the dm's", "dm")
        socket.emit('leave', {"room" : room, "dm" : "True"})
        socket.emit("join", {"room" : data, "dm" : "True"})
        $("#messages").animate({ scrollTop: $('#messages').prop("scrollHeight")}, 500);
        stoppedTyping();
        room = data;
        }
    }); 
    socket.on("get-dm-data", function(data){
        friend_name = data["friend"] // potentiality too.
        potentiality_other_friend = data["you"] // to the other user the user who sent the message is "you" and he is the friend
        date = data["date"]
        last_msg = data["last message"]
        last_msg = last_msg.replace("<br />", " ")
        if("{{username}}" == data["friend"]){ // I have to identify the user first. The user could just inspect the elements and he could see this info.
        //socket.emit("count-unread-messages", {"receiver" : potentiality_other_friend, "sender" : friend_name})
        $("#friend-" + potentiality_other_friend + " .date:first").html(date)
        $("#friend-" + potentiality_other_friend + " .last-message:first").html(last_msg)
        }
        else if("{{username}}" == data["you"]){
          //socket.emit("count-unread-messages", {"receiver" : friend_name, "sender" : potentiality_other_friend})
        $("#friend-" + friend_name + " .date:first").html(date)
        $("#friend-" + friend_name + " .last-message:first").html(last_msg)
        }
    });
    socket.on("add-friend-requester-live", function(data){
      console.log("ddd")
        if(data["friend"] == "{{username}}"){
        addFriendToList(data["accepted from"], data["user status"]);
        toastr["success"]("Your friend request was accepted from " + data["accepted from"], "Friend request")
        }
    });
    socket.on("send-notificaton-live", function(data){
      if(data["receiver"] == "{{username}}"){
        toastr["success"]("Notification: " + data["sender"] + " Has send you a friend request!", "You have a new notification! Please refresh the page!")
      }
    });
    socket.on("user-online", function(data){
      $(".friend-username").each(function(i){
        if(data["username"] == $(this).text()){
          $(".user-status").eq(i).css({"color" : "green"})
        }
      });
    });
    socket.on("user-offline", function(data){
      $(".friend-username").each(function(i){
        if(data["username"] == $(this).text()){
          $(".user-status").eq(i).css({"color" : "gray"})
        }
      });
    });
    var typingTimer;
    $('#input').keyup(function(){
        if(!typing){
          socket.emit("user-typing", {"typing" : "True", "user" : "{{username}}", "room" : room})
        }
        typing = true;
        clearTimeout(typingTimer);
        if ($('#input').val()) {
            console.log("typing")
            typingTimer = setTimeout(stoppedTyping, 5000);
        }
        else{
          stoppedTyping();
        }
    });
    function stoppedTyping() {
        typing = false;
        socket.emit("user-typing", {"typing" : "False", "user" : "{{username}}", "room" : room})
        console.log("stopped")
    }
    socket.on("user-typing", function(data){
      if(data["typing"] == "True"){
        $(".typing").append('<span id=user-t' + data["user"] + '>' + data["user"] + ' <img src="https://images.fxp.co.il/dyn/projects/privatemessage/icons/ellipsis-3.svg" width="45" height="45"></span>')
      }
      else{
        var ty = $(".typing").text()
        console.log(ty)
        $("#user-t" + data["user"]).replaceWith("")
      }
    });
    function addNewlines(str) {
    var result = '';
    while (str.length > 0) {
        result = result + str.substring(0, 120) + '\n';
        str = str.substring(120);
    }
    return result;
    }
    function htmlEntities(str) {
    return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
    }
    function sendMessage(){
    var inp = $("#input").val();
    inp = htmlEntities(inp);
    inp = inp.replace(new RegExp('\r?\n','g'), '<br />');
    if(inp.startsWith("http://") || inp.startsWith("https://")){
      inp = inp.replace(/((http(s)?(\:\/\/))?(www\.)?([\w\-\.\/])*(\.[a-zA-Z]{2,3}\/?))(?!(.*a>)|(\'|\"))/g, '<a href="$1">$1</a>'); //convert to an actual url
    }
    else if(!inp.startsWith("http://")){
      inp = inp.replace(/((http(s)?(\:\/\/))?(www\.)?([\w\-\.\/])*(\.[a-zA-Z]{2,3}\/?))(?!(.*a>)|(\'|\"))/g, '<a href="https://$1">$1</a>'); //convert to an actual url
    }
    else if(!inp.startsWith("https://")){
      inp = inp.replace(/((http(s)?(\:\/\/))?(www\.)?([\w\-\.\/])*(\.[a-zA-Z]{2,3}\/?))(?!(.*a>)|(\'|\"))/g, '<a href="http://$1">$1</a>'); //convert to an actual url
    }
    socket.send({"message" : inp, "room" : room})
    $("#messages").animate({ scrollTop: $('#messages').prop("scrollHeight")}, 500);
    checkifDM();
    }
    function checkifDM(){
    socket.emit("get-dm-data", room)
    }
    function addFriendToList(friend_name, user_status){
    current_date_time = new Date();
    date =  current_date_time.getDate()+'/'+(current_date_time.getMonth()+1)+'/'+ current_date_time.getFullYear()
    time = current_date_time.getHours() + ":" + current_date_time.getMinutes();
    dateTime = ' ' + time + ' ' + date;
    var color = "gray"
    if(user_status == "online"){
      color = "green"
    }
        var create_msg = `
        <div id="friend-` +  friend_name + `">
        <li class="p-2">
            <a class="d-flex justify-content-between">
            <div class="text-small">
                <i class="fa fa-circle user-status" aria-hidden="true" style="color:` + color + `"></i>
                <button type="button" class="btn btn-primary friend-username">` + friend_name + `</button>
                <p class="last-message text-muted"></p>
            </div>
            <div class="chat-footer">
                <p class="text-smaller text-muted mb-0 date">` + dateTime + `</p>
                <span class="text-muted float-right"><i class="fas fa-mail-reply" aria-hidden="true"></i></span>
            </div>
            </a>
        </li>
        </div>
        `
        $(".friend-list").append(create_msg);
    }
});
</script>
{% endblock %}