{% extends 'navbar.html' %}
{% block head%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
{% endblock %}
{% block body%}
    <!--
    <div id="items">
        <p id="mess"></p>
        <input type="text" id="input">
        <button id="send">Send</button>
    </div>
    <button class="room">Vanila</button>
    <button class="room">Chocolate</button>
    -->
<div class="modal fade" id="modalAddRoom" tabindex="-1" role="dialog" aria-labelledby="new-room-aria" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add room</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <label data-error="wrong" data-success="right" >Room name</label>
          <input class="form-control" id="new-room-input">
        </div>
        <div class="md-form mb-4">
          <label data-error="wrong" data-success="right">Your password</label>
          <input type="password" id="room-password" class="form-control">  
          <input type="checkbox" class="form-check-input" id="room-password-check" checked>
          <label class="form-check-label">With password</label>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default" id="new-room">Create</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="password-validation" tabindex="-1" role="dialog" aria-labelledby="room-password-val-aria" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Enter the room password</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <label data-error="wrong" data-success="right">Room password</label>
          <input class="form-control" id="room-password-val">
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default" id="room-password-btn">Enter</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalAddFriend" tabindex="-1" role="dialog" aria-labelledby="add-friend-val-aria" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add a friend</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <label data-error="wrong" data-success="right">the Friend's username (Watch for caps.)</label>
          <input class="form-control" id="friend-username-val">
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default" id="friend-btn">Enter</button>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
    <div class="card purple lighten-4 chat-room">
        <div class="card-body">
          <div class="row px-2">
            <div class="col-md-6 col-xl-8 pr-md-4 px-lg-auto px-0">
      
              <div class="chat-message">
                
                <ul class="list-unstyled chat">
                    <div id="messages">
                        {% for i in msgs %}
                            <li class="d-flex justify-content-between mb-4">
                                <div class="chat-body white p-3 ml-2 z-depth-1">
                                    <div class="header">
                                        <strong class="primary-font">{{username}}</strong>
                                        <small class="pull-right text-muted"><i class="far fa-clock"></i>min ago</small>
                                    </div>
                                    <hr class="w-100">
                                    <p>
                                        {{i.message}}
                                    </p>
                                </div>
                            </li>
                        {% endfor %}
                    </div>
                    <br>
                  <li class="white">
                    <div class="form-group basic-textarea">
                      <input type="text" class="form-control pl-2 my-0" id="input" rows="3" placeholder="Type your message here..."></input>
                    </div>
                  </li>
                  <button type="button" class="btn btn-deep-purple btn-rounded btn-sm waves-effect waves-light float-right" id="send">Send</button>
                </ul>
      
              </div>
      
            </div>
            <div class="col-md-6 col-xl-4 px-0">
      
              <h6 class="font-weight-bold mb-3 text-center text-lg-left">Friends</h6>
              <div class="white z-depth-1 px-3 pt-3 pb-0">
                <ul class="list-unstyled friend-list">
                  <li class="active grey lighten-3 p-2">
                    <a href="#" class="d-flex justify-content-between">
                      <div class="text-small">
                        <strong>First username</strong>
                        <p class="last-message text-muted">Last message.</p>
                      </div>
                      <div class="chat-footer">
                        <p class="text-smaller text-muted mb-0">sent x min ago</p>
                        <span class="badge badge-danger float-right">unread msgs</span>
                      </div>
                    </a>
                  </li>
                  {% for i in user_friends %}
                  <li class="p-2">
                    <a class="d-flex justify-content-between">
                      <div class="text-small">
                        <strong class="friend-username">{{i}}</strong>
                        <p class="last-message text-muted">Last message.</p>
                      </div>
                      <div class="chat-footer">
                        <p class="text-smaller text-muted mb-0">sent x min ago</p>
                        <span class="text-muted float-right"><i class="fas fa-mail-reply" aria-hidden="true"></i></span>
                      </div>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    
<script>
toastr.options = {
  "closeButton": true,
  "debug": false,
  "newestOnTop": true,
  "progressBar": true,
  "positionClass": "toast-top-right",
  "preventDuplicates": false,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "6500",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}
    room = "Main"
    var socket = io("http://127.0.0.1:5000");
    socket.on('connect', function() {
        socket.send("Connected!")
    });
    socket.on("message", function(obj){ // add connected handler
        console.log(obj)
        try{
          console.log(typeof(obj))
          msg = addNewlines(obj["msg"])
          username = obj["user"]
        }
        catch(err){
          console.log(typeof(obj))
          msg = addNewlines(obj)
          username = "Server"
        }
        console.log("recived")
        console.log(msg)
        console.log(username)
        var entites = "";
        $(entites).html(msg)
        console.log(entites)
        var create_msg = `<li class="d-flex justify-content-between mb-4">
                        <div class="chat-body white p-3 ml-2 z-depth-1">
                            <div class="header">
                                <strong class="primary-font">`+ username +`</strong>
                                <small class="pull-right text-muted"><i class="far fa-clock"></i>min ago</small>
                            </div>
                            <hr class="w-100">
                            <p id="new-msg">` + 
                                msg
                                +
                                `
                            </p>
                        </div>
                    </li>`
        $("#messages").append(create_msg)
    });
    socket.on("add", function(msg){
      console.log("add")
      if(msg != "Room already exists"){
        $(".dropdown-menu").append('<a class="dropdown-item this-is-navbar room">' + msg + '</a>')
        toastr["success"]("Your room has successfully created", "Room created")
      }
      else{
        toastr["error"]("it seems like the room already exists", "Can't create the room")
      }
    });
    $(document).ready(function(){
      socket.emit("join", {"room" : room})
    });
    $("#input").keydown(function(e){
      if(e.keyCode == 13){ // 13 is the enter key
        sendMessage()
        $("#input").val("")
      }
    });
    $("#send").click(function(){
      sendMessage()
      $("#input").val("")
    });
    var new_room = ""
    var room_pass = "" // randomize 
    $(".dropdown-menu").on('click', '.room', function(event){ // I have to use the .on method because .click doesn't work when data is appended
        console.log("Room clicked") 
        new_room = $(event.target).text() // check if it exists in the database
        event.preventDefault()
        console.log(new_room);
        if(room == new_room){
            toastr["error"]("You are already in the room", "Can't join the room")
        }
        else{
          $.ajax({
            type: "POST",
            url: "/validate",
            data: new_room,
            success: function(pass){
              room_pass = pass; // pass is the room password
              if(pass != "False"){ 
                  console.log("opening")
                  $("#password-validation").modal("toggle");
                }
              else{
                console.log("no password")
                $("#messages").html("");
                console.log("Joining a room")
                socket.emit('leave', {"room" : room})
                socket.emit("join", {"room" : new_room})
                var room_msg = "You have joined " + new_room
                toastr["success"](room_msg, "Room joined")
                room = new_room
              }
            }
          });
        }
    });

    $("#room-password-btn").click(function(){
      console.log("Execute")
      user_password = $("#room-password-val").val()
      console.log(user_password)
      console.log(room_pass)
      if(user_password == room_pass){
        $("#messages").html("");
        $("#password-validation .close").click()
        toastr["success"]("Entering you into the room!", "Corrent password")
        console.log("Joining a room")
        socket.emit('leave', {"room" : room})
        socket.emit("join", {"room" : new_room})
        room = new_room
      }
      else{
        toastr["error"]("Sorry, you have entered the wrong password. Try again.", "Wrong password")
      }
    });

    $('#password-validation').on('shown.bs.modal', function () {
      $('#room-password-val').trigger('focus');
    });

    $("#new-room").click(function(){
      var created_room = $("#new-room-input").val();
      $("#new-room-input").val("");
      $("#messages").html("");
      console.log($('#room-password-check').is(':checked'))
      if($('#room-password-check').is(':checked')){
        password = $("#room-password").val()
      } 
      else{
        password = ""
      }
      socket.emit('add', {"name" : created_room, "room password" : password})
      socket.emit('leave', {"room" : room})
      socket.emit("join", {"room" : created_room})
      var room_msg = "You have joined " + created_room
      toastr["success"](room_msg, "Room joined")
      room = created_room
      $("#modalAddRoom .close").click()
    });
    $("#modalAddFriend").on('shown.bs.modal', function () {
      $('#friend-username-val').trigger('focus');
    });
    $("#friend-btn").click(function(){
      console.log("clicked")
      var input_username = $("#friend-username-val").val()
      console.log(input_username)
      socket.emit("friend-add", {"username" : input_username})
    });
    socket.on("friend-add", function(msg){
      if(msg == "Friend request sent!"){
        toastr["success"]("The friend request sent successfully!", msg)
      }
      else{
        toastr["error"](msg, msg)
      }
    });
    var $dropDownItems = $('.notifi-drop').children();
    $dropDownItems.on('click', function() {
      if(this.textContent == "Reject"){
        var index = $dropDownItems.index(this) - 1
        var text = $dropDownItems.eq(index).text()
        socket.emit("friend-request-handler", {"type" : "Reject", "notification" : text})
        console.log(text)
      }
      else if(this.textContent == "Accept"){
        var index = $dropDownItems.index(this) - 3
        var text = $dropDownItems.eq(index).text()
        console.log(text)
        socket.emit("friend-request-handler", {"type" : "Accept", "notification" : text})
      }
      console.log('index: ', $dropDownItems.index(this), 'text: ', this.textContent)
    });
    socket.on("friend-request-handler", function(msg){
      if(msg != "Error"){
        toastr["success"](msg, msg)
      }
      else{
        toastr["error"]("There was a problem. Please try again.", msg)
      }
    });
    $(".friend-username").click(function(event){
      var friend = event.text()
      console.log(friend)
      socket.emit("friends-dm", friend)
    });
    function addNewlines(str) {
    var result = '';
    while (str.length > 0) {
        result = result + str.substring(0, 120) + '\n';
        str = str.substring(120);
    }
      return result;
    }
    function htmlEntities(str) {
      return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
    }
    function sendMessage(){
      var inp = $("#input").val();
      inp = htmlEntities(inp);
      socket.send({"message" : inp, "room" : room})
    }
</script>
<style>
.dropdown-menu {         
  max-height: 300px;
  overflow-y: auto;
}
#messages{
  width: 100%;
  height: 690px;
  overflow: scroll;
  overflow-x: hidden;
}

#messages::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #F5F5F5;
}

#messages::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#messages::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #D62929;
}



</style>
{% endblock %}